html, body {
   /* height: 100%; Ensure at least the min-height covers the full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #f0f0f0; /* Your desired background color */
}

.iphone {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone .div {
  background-color: #f0f0f0;
  overflow: hidden;
  width: 390px;
  height: 844px;
  position: relative;
}

.iphone .overlap {
  position: absolute;
  width: 888px;
  height: 35px;
  top: 25px;
  left: 23px;
}

.iphone .github-logo {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 3px;
  left: 0;
  object-fit: cover;
}

.iphone .header {
  position: absolute;
  width: 874px;
  height: 35px;
  top: 0;
  left: 14px;
  background-color: transparent;
}

.flashes-container {
  position: absolute;
  top: 200px; /* Adjust the position as needed */
  left: 73%; /* Center it horizontally; adjust as needed */
  transform: translateX(-50%); /* Center it horizontally with respect to its own width */
  width: 100%; /* Set the width as needed */
  text-align: center; /* Center the text inside the container */
  z-index: 10; /* Ensure it's above other elements */
}

.flashes {
  color: red;
  /* Add more styling as needed */
  /* Ensure the list has no default browser styling that affects position */
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica;
  font-size: 10px;
  font-weight: 200;
  list-style-type: none;
}

#loadingMessage {
  color: red;
  /* Add more styling as needed */
  /* Ensure the list has no default browser styling that affects position */
  padding: 0;
  margin: 0;
  top: 900px;
  font-style: italic;
  font-family: "Roboto", Helvetica;
  font-size: 10px;
  font-weight: 200;
  list-style-type: none;
}

.iphone .menu {
  display: flex;
  width: 254px;
  height: 35px;
  align-items: flex-start;
  gap: 10.37px;
  position: relative;
}

.iphone .white-normal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5.18px;
  padding: 7.26px 10.37px;
  position: relative;
  flex: 0 0 auto;
}

.iphone .sign-up {
  position: relative;
  width: fit-content;
  margin-top: -0.52px;
  color: #151515;
  font-size: 9.3px;
  text-align: center;
  line-height: 12.4px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .black-normal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5.37px;
  padding: 7.52px 10.74px;
  position: absolute;
  top: 0;
  left: 299px;
  background-color: #151515;
  border-radius: 7.62px;
}

.iphone .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.54px;
  color: #ffffff;
  font-size: 9.7px;
  text-align: center;
  line-height: 12.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .overlap-group {
  position: absolute;
  width: 436px;
  height: 311px;
  top: 120px;
  left: 23px;
}

.iphone .frame {
  width: 436px;
  height: 311px;
  position: absolute;
  top: 0;
  left: 0;
}

.iphone .always-track-analy-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.04px;
  position: absolute;
  top: 0;
  left: 0;
}

.iphone .always-track-analy {
  position: relative;
  width: 499.73px;
  height: 51.96px;
  margin-top: -0.45px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #151515;
  font-size: 57.8px;
  letter-spacing: -1.81px;
  line-height: 36.1px;
}

.iphone .span {
  letter-spacing: -1.05px;
}

.iphone .text-wrapper-2 {
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1.05px;
}

.iphone .group {
  position: absolute;
  width: 215px;
  height: 24px;
  top: 99px;
  left: 0;
}

.iphone .white-normal-wrapper {
  height: 24px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure children are spaced properly */
  margin: 0;
  padding: 0;
}

.iphone .sign-up-wrapper {
  width: calc(200% - 150px); /* Subtract button width and paddings */
  height: 100%; /* Match height of the container */
  margin: 0;
  padding: 0 10.62px; /* Apply appropriate padding */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 10px;
  line-height: 15.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .p {
  position: relative;
  width: fit-content;
  margin-top: -0.45px;
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 8.1px;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .sign-up-2 {
  position: absolute;
  top: 85px;
  left: 0;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .sign-up-3 {
  position: absolute;
  top: 142px;
  left: 0;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .sign-up-4 {
  position: absolute;
  top: 186px;
  left: 1px;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .dropdown-parent {
  flex-direction: column;
  width: 30px;
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  font-size: 10px;
  align-items: flex-start;
}

.iphone .dropdown-selection {
  height: 14.46px;
  position: relative;
  align-self: stretch;
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
}

.iphone .joined-text-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.61px 5.42px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -0.45px;
  margin-bottom: -0.22px;
  margin-left: -0.45px;
  margin-right: -0.45px;
  background-color: var(--white);
  border-radius: 3.61px;
  border: 0.45px solid;
  border-color: #000000;
}

.iphone .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 5.4px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone .down-arrow-states {
  position: relative;
  width: 6.21px;
  height: 3.52px;
}

.iphone .div-wrapper {
  position: absolute;
  width: 86px; /* Width of the container */
  height: 23px; /* Height of the container */
  top: 100px;
  left: 0;
  background-color: #ffffff;
}

.iphone .sign-up-fromnodes {
  width: 100%; /* Make the input field take the full width of the container */
  height: 100%; /* Make the input field take the full height of the container */
  margin: 0;
  padding: 0 10.62px; /* Apply padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 9px;
  line-height: 15.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}


.iphone .sign-up-5 {
  position: absolute;
  top: 5px;
  left: 6px;
  opacity: 0.5;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #151515;
  font-size: 8.1px;
  letter-spacing: 0;
  line-height: 10.8px;
  white-space: nowrap;
}

.iphone .sign-up-6 {
  position: absolute;
  top: 186px;
  left: 104px;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .overlap-2 {
  position: absolute;
  width: 86px;
  height: 23px;
  top: 100px;
  left: 103px;
  background-color: #ffffff;
}

.iphone .sign-up-to-nodes {
  width: 100%; /* Make the input field take the full width of the container */
  height: 100%; /* Make the input field take the full height of the container */
  margin: 0;
  padding: 0 10.62px; /* Apply padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 9px;
  line-height: 15.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .sign-up-7 {
  position: absolute;
  top: 230px;
  left: 1px;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .overlap-3 {
  position: absolute;
  width: 86px;
  height: 23px;
  top: 145px;
  left: 1px;
  background-color: #ffffff;
}

.iphone .sign-up-directionout {
  width: 100%; /* Make the input field take the full width of the container */
  height: 100%; /* Make the input field take the full height of the container */
  margin: 0;
  padding: 0 10.62px; /* Apply padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 9px;
  line-height: 15.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}


.iphone .sign-up-8 {
  position: absolute;
  top: 230px;
  left: 104px;
  font-style: italic;
  color: #000000;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .overlap-group-2 {
  position: absolute;
  width: 86px;
  height: 23px;
  top: 145px;
  left: 104px;
  background-color: #ffffff;
}

.iphone .sign-up-directionin {
  width: 100%; /* Make the input field take the full width of the container */
  height: 100%; /* Make the input field take the full height of the container */
  margin: 0;
  padding: 0 10.62px; /* Apply padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  opacity: 0.5;
  font-style: italic;
  color: #151515;
  font-size: 9px;
  line-height: 15.9px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .black-normal-wrapper {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 2px;
  left: 224px;
}

.element .sign-up-autofill {
  /* Existing styles */
  cursor: pointer; /* This will make the cursor change to a pointer/hand icon */
}

.iphone .black-normal-2 {
  gap: 4.52px;
  padding: 0;
  position: relative;
  background-color: #151515;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iphone .sign-up-autofill {
  position: relative;
  width: fit-content; /* Make the button content-based width */
  margin-top: -0.45px;
  color: #ffffff;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background-color: #151515;
  padding: 6.33px 9.04px; /* Apply the same padding as the container */
  box-sizing: border-box; /* Include padding in the total width */
}


.iphone .sign-up-9 {
  position: relative;
  width: fit-content;
  margin-top: -0.45px;
  color: #ffffff;
  font-size: 8.1px;
  text-align: center;
  line-height: 10.8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .black-normal-3 {
  gap: 5px;
  padding: 7px 10px;
  position: absolute;
  top: 191px;
  left: 1px;
  background-color: #b1c87f;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iphone .sign-up-10 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  line-height: 12px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.iphone .a-better-way-to-mana {
  position: absolute;
  width: 324px;
  top: 48px;
  left: 5px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #151515;
  font-size: 10.8px;
  letter-spacing: 0;
  line-height: 11.7px;
}
