<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index/css/globals.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index/css/styleguide.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index/css/style.css') }}" />
  <title>GeneraTreeX</title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <meta property="og:description" content="A quick way to generate syntactic trees from in-line notation ✨" /> 
  <meta property="og:image" content="/static/linkpreview.png" /> 
</head>
<body>
  <div class="element">
    <div class="div">
      <div class="overlap">
        <div class="element-CTA">
          <div class="overlap-group">
            <div class="frame">
              <div class="always-track-analy-wrapper">
                <p class="always-track-analy">
                  <span class="text-wrapper">Genera</span><span class="span">treeX</span>
                </p>
              </div>
              <div class="group">
                <div class="white-normal-wrapper">
                  <div class="white-normal">
                    <form id="myForm" action="/submit" method="post">
                      <input type="text" class="sign-up" name="structure" placeholder="e.g. [TP [DP] [T’ [T] [vP [DP2] [VP]]]]"/>
                      <select name="movement_lines" class="dropdown-parent">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <div class="sign-up-wrapper">
                        <input type="text" class="sign-up-fromnodes" name="from_nodes" placeholder="Enter node labels..."/>
                      </div>
                      <div class="div-wrapper">
                        <input type="text" class="sign-up-tonodes" name="to_nodes" placeholder="Enter node labels..."/>
                      </div>
                      <div class="overlap-group-2">
                        <input type="text" class="sign-up-directionout" name="direction_out" placeholder="Enter directions..."/>
                      </div>
                      <div class="overlap-2">
                        <input type="text" class="sign-up-directionin" name="direction_in" placeholder="Enter directions..."/>
                      </div>
                      <div class="flashes-container">
                        {% with messages = get_flashed_messages(category_filter=["error_empty_structure"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_squared_beginning"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_bracketing"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_probe_goal_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_goal_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_probe_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_direction_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_input_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_output_count"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_pdf_generation"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error_timeout"]) %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                      </div>
                      <button type="submit" class="black-normal-2" id="submitBtn">
                        <div class="sign-up-8">Submit</div>
                      </button>
                      
                      <div class="black-normal-wrapper">
                        <div class="black-normal">
                          <button type="button" class="sign-up-autofill" onclick="autofill()">Autofill</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div id="loadingMessage" style="display: none;">Loading...</div>
              </div>
              <div class="sign-up-2">Enter your structure:</div>
              <p class="p">How many movement lines do you want to draw?</p>
              <div class="sign-up-3">From:</div>
              <div class="sign-up-5">To:</div>
              <div class="sign-up-6">Output direction:</div>
              <div class="sign-up-7">Input direction:</div>
            </div>
            <p class="a-better-way-to-mana">A quick way to generate syntactic trees from in-line notation ✨</p>
          </div>
        </div>
        <img class="tree" src="{{ url_for('static', filename='index/img/tree-1.png') }}" />
      </div>
      <div class="overlap-3">
        <a href="https://tomsgrizzi.github.io/"><img class="github-logo" src="{{ url_for('static', filename='index/img/github-logo-1.png') }}" /></a>
        <div class="black-normal-3">
          <a href="https://github.com/TomSgrizzi/generatreex-2.0/blob/master/README.md" title="Read the Guide on GitHub">
            <div class="sign-up-9">Guide</div>
          </a>
        </div>
        <header class="header">
          <div class="menu">
            <div class="white-normal-2">
              <a href="https://tomsgrizzi.github.io/">
                <div class="sign-up-10">by Tommaso Sgrizzi</div>
              </a>
            </div>
          </div>
        </header>
      </div>
    </div>
